/* team trustylabs */
/* header start */
h1, h2, h3, h4, h5, li, p {
word-wrap: break-word;
}
a{
	color:#428bca;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
}

body{
background-color: #eeeeee;
font-size:14px;
}
#background{
background-color:#d70506;
}
#navbar{
color:#fffff!immportant
}
.ico{
background-image:url('../img/add-event.png');
width: 32px;
height: 32px;
display: block;
float:left;
margin-right: 5px;
}

.descr{
display: block;
float:left;
line-height: 17px;
text-align: left;
}
.navbar-inverse{
background-color:none!important;}
.navbar-brand{
color:#fff!important
}
.navbar-header{
min-height: 65px;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #fff!important;
}
.navbar-default .navbar-toggle {
border-color: #fff!important;
}
.navbar-toggle {
position: relative;
float: right;
padding: 12px 12px;
margin-top: 12px;
margin-right: 15px;
margin-bottom: 8px;
background-color: transparent;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
color: #555;
background-color: #d70506!important;
}
.dropdown-menu{background-color: #d70506!important; }
.search{background-color: #d70506!important;    min-width: 320px;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
color: #262626;
text-decoration: none;
background-color: #680306 ;
}
#navbar  form{
margin-right:20px;
margin-top: 4px;
margin-left: 25px;
}
#navbar  form input[type=text] {
background-color: #f5f5f5;
min-width: 200px;
height: 40px;
padding: 0 0 0 15px;
box-sizing: border-box;
border-radius: 0px;
border: 0;
display:block;
float:left;
font-size: 16px;
margin-bottom: 15px;
}
#navbar   form input[type=text]:focus {

color:#000!important;
background-color: #f5f5f5;
min-width: 200px;
height: 40px;
padding: 0 0 0 15px;
box-sizing: border-box;
border-radius: 0px;
border: 0;
display:block;
float:left;
font-size: 16px;
margin-bottom: 15px;
}
#navbar   form input[type=submit] {

height: 40px;
width: 40px;
display:block;
float:left;
border: 0;
font-size: 0;
background: #680306 url(../img/searchicon.png) no-repeat center center;
}

.facebookico {
background: white;
color: #0054a6;
width: 31px;
height: 33px;
padding: 10px;
border-radius: 6px;
}
.btnbf {
background: #0054a6;
color: white;
width: 266px;
margin-left: 63px;
height: 50px;
}
#navbar   form input.login {

height: 40px;
width: 100px;
display:block;
float:left;
border: 0;
font-size: 14px;
color:#fff;
background: #5cb85c;
border:1px solid #fff;
border-radius:4px;
margin-bottom: 15px;
}
#navbar  form input[type=password] {
background-color: #f5f5f5;
min-width: 200px;
height: 40px;
padding: 0 0 0 15px;
box-sizing: border-box;
border-radius: 0px;
border: 0;
display:block;
float:left;
font-size: 16px;
margin-bottom: 15px;
}
#navbar   form input[type=password]:focus {

color:#000!important;
background-color: #f5f5f5;
min-width: 200px;
height: 40px;
padding: 0 0 0 15px;
box-sizing: border-box;
border-radius: 0px;
border: 0;
display:block;
float:left;
font-size: 16px;
margin-bottom: 15px;
}
.red3{    display: block;
clear: both;
font-size: 12px;}
.event{
font-size: 10px;
letter-spacing: 1px;
margin-right: 15px;
}
.navbar ul{
list-style:none;
display:inline;
}
.navbar ul.dropdown-menu{display: none;}
ul.navbar-nav li.open ul{display:block;     border-radius: 5px;}
ul.navbar-nav li{
margin: 10px 0px;
color:#fff!important;
}
ul.navbar-nav li a,ul.navbar-nav li a:hover,ul.navbar-nav li a:visited,ul.navbar-nav li a:active{color:#fff!important;}
ul.navbar-nav li ul li{ margin:10px}
ul.navbar-nav li.open>.tohide{display:block;     border-radius: 5px;}
ul.navbar-nav li.open ul.nav-tabs li.active{}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
color: #fff;
cursor: default;
background-color: #680306 ;
border: none;
border-bottom-color: transparent;
}
ul.navbar-nav li.open ul.nav-tabs li a{    padding: 10px  22px;}
/* header end */


/*footer start*/
.footer {
font-size: 14px;
margin-top: 20px;
color:#fff!important;
}
.footer-top {
background-color:#d70506;
padding: 30px 0px;
}
.footer-bottom {
text-align: center;
display: table-caption;
vertical-align: middle;
background: #000;
display: block;
padding-top: 10px;
}
.footer ul{line-height: 30px;
}
.footer-bottom ul{
margin: 0;
padding: 0;
border: 0;
list-style: none;
line-height: 30px;
}
.footer-bottom ul li{
display:inline;
line-height:20px;
padding-left: 10px;
padding-right: 15px;
}
.footer-bottom ul li a{
text-decoration:none;
}
.footer-bottom ul li a:hover{
color:#fff;
text-decoration:underline;
}
.custom{    line-height: 20px;
padding-left: 7px;
font-weight: bold;}
.footer a{
color:#fff;
text-decoration:none;
}
.footer a:hover, .footer a:visited{
color:#fff;
text-decoration:underline;
}
.titled{margin-top: 15px;
text-decoration: underline;}
/*footer end*/


/* html start */
html {
position: relative;
min-height: 100%;
}

body {
margin: 0 0 400px; / bottom = footer height /
padding: 25px;
}

footer {
position: absolute;
left: 0;
bottom: 0;
height: 305px;
width: 100%;
overflow:hidden;
}
/* html end */


/* connexion-inscription start */

.panel-login {
border-color: #ccc;
-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    padding: 20px;
}
.panel-login>.panel-heading {
color: #fff;
background-color: #fff;
border-color: #fff;
text-align:center;
    padding: 15px 0px 0px 0px;
    border: 1px solid #eee;
    background-color: #000;
	    border-radius: 7px;

}
.panel-login>.panel-heading a{
text-decoration: none;
color: #fff;
font-weight: bold;
font-size: 15px;
-webkit-transition: all 0.1s linear;
-moz-transition: all 0.1s linear;
transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
color: #d70506;
font-size: 16px;
}
.panel-login>.panel-heading hr{
margin-top: 10px;
margin-bottom: 0px;
clear: both;
border: 0;
height: 1px;
background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
height: 45px;
border: 1px solid #ddd;
font-size: 16px;
-webkit-transition: all 0.1s linear;
-moz-transition: all 0.1s linear;
transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
outline:none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border-color: #ccc;
}
.btn-login {
background-color: #d70506;
outline: none;
color: #fff;
font-size: 14px;
height: auto;
font-weight: normal;
padding: 14px 0;
border-color: #fff;
}
.btn-login:hover,
.btn-login:focus {
color: #fff;
background-color: #d70506;
border-color: #fff;
}
.forgot-password {
text-decoration: underline;
color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
text-decoration: underline;
color: #666;
}

.btn-register {
background-color: #d70506;
outline: none;
color: #fff;
font-size: 14px;
height: auto;
font-weight: normal;
padding: 14px 0;
border-color: #000;
}
.btn-register:hover,
.btn-register:focus {
color: #fff;
background-color: #d70506;
border-color: #000;
}
.content-elite{
margin-top:100px;
}
.remember{
margin-top: 5px;
position: relative;
top: -3px;
left: 5px;
}
.panel-body {
padding: 40px 35px 20px 35px;
}
.content-conexion {
background-color: #f3f3f3;
padding: 20px 30px 30px 30px;
}
.facenookconexion{
color:#6b6b6b;
text-align: center;
}
.btn-facebooksign {
background-color: #3c5999;
color: white;
margin-bottom: 12px;
padding: 10px 30px 10px 30px;
border:none;
border-radius: 2px;
}
.btn-facebooksign:hover:active{

color: white;

}

/* connexion-inscription end */


/* create event start */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: white;
    opacity: 1;
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
.categorimenu{
margin-bottom: 16px;
margin-top: 16px;
}
.clockpicker{
	margin-top: 25px;
}
.datepicker-dropdown{
	background :white ! important;
}
.cutsombg{
background-color:white;	
}
.navtab > li > a {
     position: relative; 
     display: block; 
     padding: 10px 15px;
	 list-style:none; 
	text-decoration:none;
	  list-style-type: none;
	  color:#727171;
	  font-size: 17px;
 }
ul  {
list-style:none;
margin-left:0;
padding-left:0;
 }
 

hr{
width: 85%;
}
.enregistrer{
color: white;
background-color: #ff1d1d;
padding: 15px 30px 15px 30px;
}
.editer{
padding: 10px 25px 10px 25px;
margin-left: 13px;
}

ul>li>a:hover{
color: none;
}
.nonpublier{
background-color: #df3838;
color: white;
border: none;
padding: 10px 20px 10px 20px;
}
button.nonpublier:hover:visited:focus{
color: white;
}
.btn-aperçu{
background-color:#f1f4f5;
color: #fffff;
padding: 10px 20px 10px 20px;
}

.select {
background-color: white;
color: red !important;
width: 85%;
padding-right: 10px;

}
a:hover{
color:none;

}

.select:before {
content: '';
display: block;
position: absolute;
right: 100%;
top: 0px;
border-top: 22px solid transparent;
border-bottom: 22px solid transparent;
border-right: 23px solid white;
}
.Confirme{
padding: 17px 30px;
background-color: #f5f5f5;
border-top: 1px solid #ddd;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
}
.page-menu{
padding-bottom: 9px;
margin: 15px 0 20px;
border-bottom: 1px solid #eee;
}
.input-image{
    background: url(../img/image.png) no-repeat #FFF;

    background-size: 20px;
       background-position: 99% 7px;
}
/* create event end */


/* mon compte start */
.activeee {
    /* display: inline-block; */
    position: relative;
    background-color: white;
    color: red !important;
    width: 172px;
    margin-left: -15px;
    /* padding-right: 10px; */
    text-align: right;
	height: 40px;
}

.activeee::after {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
   border-top: 20px solid transparent;
border-bottom: 20px solid transparent;
    border-left: 18px solid white;
}
.s_menu {
    margin-top: 27px;
}

.s_menu div {
  padding: 8px;
    font-size: 16px !important;
    margin-top: 8px;
    color: #93a1a1;
}

.s_menu div p {

}

.s_menu div:hover {
    cursor: pointer;
    color: #999999;
}

.hide {
    display: none;
}

#sary {
    width: 60px;
   
}
.menu_droite {
    margin-right: -45px;
    padding-left: 80px;
}
.contre {
    background-color: white;
	margin-top: 48px;
	padding: 30px 30px 30px 30px;
	margin-bottom: 0;

}
.contre5 {
    background-color: #f5f5f5;
     padding: 20px 20px 20px 20px
	

}
.forme {
    width: 95% !important;
    margin-left: 2% !important;
    margin-top: 1% !important;
    margin-bottom: 2% !important;

}


#bonjour {
    margin-left: 35%;
    font-size: medium;

}
.btio2 {
    border-radius: 2% !important;
    margin-bottom: 3% !important;
    margin-top: 2% !important;
    margin-left: 5%;
    width: 20%;
	background-color: #d70506;

}
.tab {
    border-bottom: 1px grey inset;
    padding-bottom: 25px;
    padding-top: 21px;
}
a:link {
    text-decoration: none;
}
 /* mon compte end */ 


/* reinitialiser start */
#bg-custom{
background-color:white;
padding: 30px 30px 30px 30px;
border-radius: 5px;
}
.information{
	font-size:13px;
}


.e-mailR{
max-height: 50px;
height: 50px;
margin-bottom:10px;
}
.btn-send{
background-color: #d70506;
outline: none;
color: #fff;
font-size: 14px;
height: auto;
font-weight: normal;
padding: 14px 0;
border-color: #fff;
}
.btn-annuler{
    background-color: black;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    border-color: #fff;
}


.initialize{
margin-bottom:35px;
}

/* reinitialiser end */


/* retour mail start */
#bg-reset{
background-color:white;
padding: 50px 50px 30px 50px;
border-radius: 6px;
}
.formlaire{
height: 45px;
}
.btn-reset{
background-color: #d70506;
outline: none;
color: #fff;
font-size: 14px;
height: auto;
font-weight: normal;
padding: 14px 0;
border-color: #fff;
}

/* retour mail end */
/*--------------------------contenu_eventes---------------------------------*/
#exTab1 .tab-content {
    color : white;
    background-color: red;
    padding : 5px 15px;
}

#exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

.pane1{
    background-color: #f5f5f5;
}
.choix1{
   margin-top: 55px;
    margin-bottom: 45px;

}
.choix2{
    margin-top: 55px;
    margin-bottom: 5px;

}
.counter_number{
    font-size: 50px;
}
.counter-label{
    font-size: 20px;
}
.rapporter{
    background-color: white;
}
#sel1{
    background-color: #f5f5f5;
}

/*--------------------------rapport_eventes---------------------------------*/
#exTab1 .tab-content {
    color : white;
    background-color: red;
    padding : 5px 15px;
}

#exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

.pane1{
    background-color: #f5f5f5;
}
.choix1{
   margin-top: 55px;
    margin-bottom: 45px;

}
.choix2{
    margin-top: 55px;
    margin-bottom: 5px;

}
.counter_number{
    font-size: 50px;
    color: grey;
}
.counter-label{
    font-size: 20px;
}
.rapporter{
    background-color: white;
}
#rapport{
    background-color: white;
}
#sel1{
    background-color: #f5f5f5;
}
.nav-tabs1>li.active>a, .nav-tabs1>li.active>a:focus, .nav-tabs1>li.active>a:hover {
    color: #d70506;
    cursor: default;
    background-color: transparent ;
    border-bottom: 2px double #d70506;
}
.ct-octave>svg {
    display: block;
    position:inherit;
    top: 0;
    left: 0;
}
svg:not(:root) {
    overflow: hidden;
}
.ct-grid {
    stroke: rgba(0,0,0,.2);
    stroke-width: 1px;
    stroke-dasharray: 2px;
}
.ct-octave:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 50%;
}
.ct-octave:after {
    display: table;
}
html|* > svg {
    transform-origin: 50% 50% 0px;

}
.c1{
    margin-top: -43px;
}.c2{
     margin-top: -27px;
 }
/*--------------------------rapport_eventes-end---------------------------------*/

/*--------------------Commande-events----------------------------------*/
#commande{
    background-color: white;
}
.com_contenu{
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 18px;
    padding-top: 28px;
    padding-bottom: 36px;
}
.com_contenu a{

}
.num{
    width: 78px;
}

/*--------------------Commande-events-end---------------------------------*/

/*--------------------billet-events----------------------------------*/
#billet{
    background-color: white;
}
.h14{
    margin-top: 14px;
}
.a1{
    margin-top: 30px;
    margin-bottom: 30px;
}
/*------------------Type_ticket----------------------------*/

.ticket_type_contenu{
    background-color:  #eeeeee;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:15px;
    margin-bottom: 20px;
}
.menu_type{
    background-color: white !important;
}
.com_contenu_type{
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 41px;
    padding-top: 28px;
    padding-bottom: 36px;
}
.primary {
    color: #d70506;
    background-color: transparent;
    border-color: #d70506;
}
.primary:hover{
    background-color:  #d70506;
    border-color: #d70506;
}
.com_contenu_type_foot{
    background-color: #f5f5f5;
}
.com_contenu_type_foot:hover{
    background-color: #f5f5f5;
}
.bout {
    margin: 35px 0px 35px 63px;
    background-color: #d70506;
}
.group{
    margin-bottom: 33px;
}


/*----------------------Type_ticket-end--------------------------*/

.dropify-wrapper {
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 200px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 22px;
    color: #777;
    background-color: #FFF;
    background-image: none;
    text-align: -webkit-center;
    border: 2px solid #E5E5E5;
    -webkit-transition: border-color .15s linear;
    transition: border-color .15s linear;
}
/*.dropify-wrapper input {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
}
.dropify-wrapper .dropify-errors-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(243,65,65,.8);
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear .15s,opacity .15s linear;
    transition: visibility 0s linear .15s,opacity .15s linear;
}
.dropify-wrapper .dropify-message {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}
.dropify-wrapper .dropify-clear {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 7;
    top: 10px;
    right: 10px;
    background: 0 0;
    border: 2px solid #FFF;
    text-transform: uppercase;
    font-size: 11px;
    padding: 4px 8px;
    font-weight: 700;
    color: #FFF;
    -webkit-transition: all .15s linear;
    transition: all .15s linear;
}*/
/*input[type="hidden" i] {
    display: none;
}
input[type="hidden" i], input[type="image" i], input[type="file" i] {
    -webkit-appearance: initial;
    background-color: initial;
    padding: initial;
    border: initial;
}*/
#dropify-wrapper {
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 200px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 22px;
    color: #777;
    background-color: #FFF;
    background-image: none;
    text-align: -webkit-center;
   border: 1px solid #ccc;
   border-radius:2px;
    -webkit-transition: border-color .15s linear;
    transition: border-color .15s linear;
}

.dropify-wrapper .dropify-loader::after {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-animation: rotate .6s linear infinite;
    animation: rotate .6s linear infinite;
    border-radius: 100%;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #777;
    border-left: 1px solid #CCC;
    border-right: 1px solid #777;
    content: '';
}
.dropify-wrapper .dropify-message {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}
#output:hover {
    opacity: 0.3;
    background-color: red;
}

#output:hover{
    opacity: 1;
}
.form-group-translation input[type=file] {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 9;

}
inputimage input[type=file] {
float:right;
}
input[type="file" i] {
    align-items: baseline;
    color: inherit;
    text-align: start;
}
input[type="file"]{
    width:100%;
    height:100%;
	margin-top: -55px;
}
#output{
    max-width: 100%;
    height: 100%;
}
#button {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: red;
    border: unset;
}
.hide{
    display: none;
}
.show{
    display: initial;
}

.com_contenu_type_ticket {
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: -40px;
    padding-top: 69px;
    padding-bottom: 15px;
    border-top: 1px inset;
}
.menu_int1{
    border: 1px solid grey;
    background-color: #eeeeee;
    margin-top: 60px;
}
.menu_int2 {
    background-color: white;
    margin: 40px 20px 0px 20px;
}
.menu_int3{
    background-color: white;
    margin: 20px 20px 20px 20px;
    border: 1px solid grey;
}
.menu_int4{
    background-color: white;
    border-bottom: 1px solid grey;
}
#menu_right{
    display: inline-block;
    padding-left: 50px;


}
#menu_left{
    display: inline-block;
    padding-bottom: 30px;
    padding-left: 28px;

}
.qt{
    width: 150px;
    height: 150px;
}
/*----------------------------------------WebSite----------------------------------*/

.com_contenu_type1{
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 41px;
    padding-top: 28px;
    padding-bottom: 36px;
    border-bottom: 2px solid #f5f5f5;
}
.com_contenu_type2{
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 28px;
    padding-bottom: 36px;
    border-bottom: 2px solid #f5f5f5;
}

/*----------------------------------------WebSite-end---------------------------------*/

/*----------------------------------categorie--------------------------------------*/
.categorie_center{
	border-bottom: 3px solid #d70506;
}

.thumbnail a>img, .thumbnail>img {

	height: 200px;
	width: 350px;

}
/*----------------------------------categorie-end-------------------------------------*/